.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.logo {
  width: 14%;
}

.icons {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 767px) {
  .navHeading {
    display: none;
  }

  .logo {
    width: 35%;
  }
}
